<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="cornelius_ros2_control" params="
               name
               prefix
               use_mock_hardware:=false
               mock_sensor_commands:=false
               sim_gazebo_classic:=false
               sim_gazebo:=false
               simulation_controllers">
  </xacro:macro>

</robot>
