<?xml version='1.0'?>
<model>
  <name>coro_hd2_sensor_config_1</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Coordinated Robotics</name>
  </author>

  <description>
    Cornelius is a tracked HD2-style robot with lidar, RGB-D, thermal, camera, and IMU sensors.
  </description>
</model>
