<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="cornelius">

  <xacro:arg name="prefix" default=""/>

  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="mock_sensor_commands" default="false"/>
  <xacro:arg name="sim_gazebo_classic" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="simulation_controllers" default=""/>
  <xacro:arg name="attach_world" default="true"/>

  <xacro:include filename="$(find cororos2_cornelius_description)/urdf/cornelius/cornelius_macro.xacro"/>
  <xacro:include filename="$(find cororos2_cornelius_description)/urdf/cornelius/cornelius_macro.ros2_control.xacro"/>

  <xacro:if value="$(arg attach_world)">
    <link name="world"/>

    <xacro:cornelius prefix="$(arg prefix)" parent="world">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:cornelius>
  </xacro:if>

  <xacro:unless value="$(arg attach_world)">
    <xacro:cornelius prefix="$(arg prefix)" parent="">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:cornelius>
  </xacro:unless>

  <xacro:cornelius_ros2_control
    name="cornelius"
    prefix="$(arg prefix)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    sim_gazebo_classic="$(arg sim_gazebo_classic)"
    sim_gazebo="$(arg sim_gazebo)"
    simulation_controllers="$(arg simulation_controllers)"/>

</robot>
